.all_file
  %h1.header1= Cart.human_attribute_name('your_cart')
  %table.table.table-hover.my_table
    %thead
      %tr
        %th(colspan="1")
        %th= Cart.human_attribute_name('name')
        %th= Cart.human_attribute_name('description')
        %th= Cart.human_attribute_name('price')
        %th(colspan="1")
      - @products_in_cart.each do |product|
        %tr
          %td= image_tag product.image.url(:thumb)
          %td= product.name
          %td= product.description
          %td= product.price
          %td= button_to Cart.human_attribute_name('remove_from_cart'), remove_from_cart_path(product_id: product.id),method: :delete, data: { confirm: I18n.t('sure') }, class: "btn btn-default btn-success"
  %br
  .links_inline
    = button_to Cart.human_attribute_name('products_list'), products_path, method: :get, class: 'btn btn-default btn-success'
  .links_inline.button_right
    = button_to Cart.human_attribute_name('order'), order_cart_path, method: :get, class: 'btn btn-default btn-success'

