.all_file
  - flash.each do |key, value|
    .alert{role: 'alert', class: colored_class(key)}= value

  %h1.header1= Product.human_attribute_name('products_list')
  .links.cart_pic
    = link_to image_tag('cart_pic2.png', size: '100x100'), cart_path

  %br

  %table.table.table-hover.my_table
    %thead
      %tr
        %th= Product.human_attribute_name('image')
        %th= Product.human_attribute_name('name')
        %th= Product.human_attribute_name('description')
        %th= Product.human_attribute_name('price')
        %th(colspan="4")
    %tbody
      - @products.each do |product|
        %tr
          %td= image_tag product.image.url(:thumb)
          %td= product.name
          %td= product.description
          %td= product.price
          %td= button_to Product.human_attribute_name('add_to_cart'), add_to_cart_path(product_id: product.id), method: :post, remote: true, class: "btn btn-default btn-success"
          %td= button_to Product.human_attribute_name('show'), product, method: :get, class: "btn btn-default btn-success"
          %td= button_to Product.human_attribute_name('edit'), edit_product_path(product), method: :get, class: "btn btn-default btn-success"
          %td= button_to Product.human_attribute_name('destroy'), product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-success"
  .links
    = button_to Product.human_attribute_name('create_product'), new_product_path, method: :get, class: "btn btn-default btn-success"