%p{:id => 'notice'}
  = notice

%p
  %strong= Account.human_attribute_name('name')
  = @account.name
%p
  %strong= Account.human_attribute_name('age')
  = @account.age

= link_to Account.human_attribute_name('edit'), edit_account_path(@account)
= link_to Account.human_attribute_name('back'), accounts_path
